@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    font-family: "Roboto", cursive, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body, html
{
    background: linear-gradient(#ffffff, #376ea8);
    height: 100vh;
    overflow: scroll;
}

div#mainDiv
{
    width: 55vw;
    margin: auto;
    padding: 20px;
}

header
{
    background-color: rgb(88, 87, 87);
    box-shadow:inset 0px -2px 2px rgb(50, 42, 42);
    padding: 20px 30px;
    color: #e6e6e6f8;
    border-radius: 5px 5px 0px 0px;
}

header > h1
{
    cursor: pointer;
}

header > h1:hover
{
    color: white;
}

header > h2
{
    font-size: medium;
    color: #b8bdd8;
}

section.image
{
    background-color: #235e98;
    padding: 3px 0px 0px 0px;
    position: relative;
}

section.image > button
{
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    left: 4px;
    border: 0px;
    font-size: large;
    background-color: #a1a5b9;
    transition: padding 0.3s;
}

section.image > button:hover
{
    color: white;
    padding: 5px;
    background-color: rgb(56, 54, 54);
}

section.searchSection
{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(181, 194, 247);
}

section.searchSection > div > label
{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 15px;
}

section.searchSection > ul > li
{
    margin-top: 5px;
}

section.searchSection > ul > li > span
{
    font-weight: 700;
    color: rgb(172, 22, 22);
    text-decoration: underline;
    cursor: pointer;
}

section.searchSection > ul > li > span:hover
{
    color: red;
}

ul#articleHeader
{
    background-color: rgb(228, 233, 254);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    list-style: none;
}

ul#articleHeader > li
{
    border-bottom: 1px solid black;
    margin-top: 10px;
}

ul#articleHeader > li > div
{
    display: flex;
    justify-content: space-between;
}

ul#articleHeader > li > div > a
{
    color: black;
    text-decoration: none;
}

ul#articleHeader > li > div > a:hover
{
    color: rgb(203, 34, 42)
}

ul#articleHeader > li > div > div
{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 250px;
}

p.categoryParagraph
{
    color: rgb(172, 22, 22);
}

div.aboutAuthor
{
    background-color: rgb(228, 233, 254);
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    list-style: none;
}

div.aboutAuthor > h2
{
    text-align: center;
}

div.aboutAuthor > ul
{
    font-size: large;
    list-style: upper-roman;
    padding: 20px;
    padding-left: 50px;
}

div.aboutAuthor li
{
    padding-top: 4px;
    padding-bottom: 4px;
}

div.aboutAuthor > ul > li
{
    font-weight: 700;
}

div.aboutAuthor > ul > li > ul
{
    font-weight: 400;
    list-style: disc;
    padding-left: 30px;
}

div.aboutAuthor > div
{
    padding: 20px;
    font-size: large;
}

div.aboutAuthor > div > ul
{
    padding-top: 20px;
    padding-left: 40px;
}

div.aboutAuthor > div > ul span
{
    color: rgb(204, 36, 36);
}

/* SPECIAL CLASS */

.hide
{
    display: none !important;
}

/* PHONE VERSION */

@media only screen and (max-width: 968px) 
{

    div#mainDiv
    {
        width: 100vw;
        padding: 0px;
    }

    header
    {
        border-radius: 0px;
    }
    
    section.image > button
    {
        font-size: small;
    }

    section.searchSection
    {
        padding: 5px;
    }

    section.searchSection > div > label
    {
        font-size: 1rem;
    }

    section.searchSection > ul > li
    {
        font-size: 0.8rem;
    }

    ul#articleHeader > li > div
    {
        font-size: small;
        align-items: center;
    }

    ul#articleHeader > li > div > div
    {
        justify-content: flex-end;
    }

}  